body {
	height: 100%;
	width: 240px;
	margin: 0px;
	padding: 0px;
	background: #D8D8D8 !important;

	/*font-family: Verdana, Geneva, sans-serif;*/
}

h1 {
	text-align: center;
	font-style: italic;
}

form {
	padding: 5px;
}

#addUrl {
	margin-top: -10px;
}

h1 .firstWord {
	color: #2655a3;
	display: inline;
}

#container {
	position: relative;
	height: 400px;
	margin: 0 auto;
	margin-top: 25px;
}

#addUrl{
	width: 220px;
}

#signInButton{
	position:fixed;
	bottom: 0;
	width: 220px;
}

#edit{
	margin-top: 15px;
	font-size: 12px !important;
}

#edit:focus {
    outline-color: #2655a3;
}

.deleteUrl{
	font-size: 10px;
	margin-left: 10px;
}
